{{#with data}}
	<a href="javascript:void(0)" onclick="require(['pages'], function (pages) {
		pages.byName('{{../pageName}}').jsObject.clickPower({{id}});
	});"><span class="fa fa-power-off fa-2x"></span></a>
	<br />
	<br />
	<span id="activity-active-{{id}}" style="color: black;">
		{{#if volumeActivity}}
			Volume control:<br />
			<a href="javascript:void(0)" onclick="api.volumeMuteActivity({{id}});"><span class="fa-stack fa-lg"><span class="fa fa-volume-up fa-stack-1x"></span><span class="fa fa-ban fa-stack-2x text-danger"></span></span></a>
			<a href="javascript:void(0)" onclick="api.volumeUpActivity({{id}});"><span class="fa fa-caret-up fa-4x"></span></a>
			<a href="javascript:void(0)" onclick="api.volumeDownActivity({{id}});"><span class="fa fa-caret-down fa-4x"></span></a>
			<br />
		{{/if}}
		{{#if channelActivity}}
			Channel control:<br />
			<a href="javascript:void(0)" onclick="api.channelUpActivity({{id}});"><span class="fa fa-caret-up fa-4x"></span></a>
			<a href="javascript:void(0)" onclick="api.channelDownActivity({{id}});"><span class="fa fa-caret-down fa-4x"></span></a>
			<br />
		{{/if}}
		{{#if playActivity}}
			Playback control:<br />
			<a href="javascript:void(0)" onclick="api.rewindActivity({{id}});"><span class="fa fa-backward fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.playActivity({{id}});"><span class="fa fa-play fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.pauseActivity({{id}});"><span class="fa fa-pause fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.stopActivity({{id}});"><span class="fa fa-stop fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.fastForwardActivity({{id}});"><span class="fa fa-forward fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if skipActivity}}
			Track control:<br />
			<a href="javascript:void(0)" onclick="api.skipPreviousActivity({{id}});"><span class="fa fa-step-backward fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.skipNextActivity({{id}});"><span class="fa fa-step-forward fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if recordActivity}}
			Record control:<br />
			<a href="javascript:void(0)" onclick="api.recordActivity({{id}});"><span style="color: red;" class="fa fa-circle fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if menuActivity}}
			Menu control:<br />
			<a href="javascript:void(0)" onclick="api.menuToggleActivity({{id}});"><span class="fa fa-bars fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuSelectActivity({{id}});"><span class="fa fa-sign-in fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuBackActivity({{id}});"><span class="fa fa-undo fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuUpActivity({{id}});"><span class="fa fa-arrow-up fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuDownActivity({{id}});"><span class="fa fa-arrow-down fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuLeftActivity({{id}});"><span class="fa fa-arrow-left fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuRightActivity({{id}});"><span class="fa fa-arrow-right fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if mouseActivity}}
			Mouse control:<br />
 			<img id="activity-trackpad-{{id}}" src="img/touchpad-small.png"><br />
			<input type="button" value="LMB" onclick="api.clickLeftMouseButton();">
			<input type="button" value="RMB" onclick="api.clickRightMouseButton();">
			<br />
		{{/if}}
	</span>
{{/with}}