{{#with data}}
	<a href="javascript:void(0)" onclick="require(['pages'], function (pages) {
		pages.byName('{{../pageName}}').jsObject.clickPower({{id}});
	});"><span class="fa fa-power-off fa-2x"></span></a>
	<br />
	<br />
	<div id="activity-active-{{id}}" style="color: black;">
		{{#if volumeActivity}}
			Volume control:<br />
			<a href="javascript:void(0)" onclick="api.volumeMuteActivity({{id}});"><span class="fa-stack fa-lg"><span class="fa fa-volume-up fa-stack-1x"></span><span class="fa fa-ban fa-stack-2x text-danger"></span></span></a>
			<a href="javascript:void(0)" onclick="api.volumeUpActivity({{id}});"><span class="fa fa-caret-up fa-4x"></span></a>
			<a href="javascript:void(0)" onclick="api.volumeDownActivity({{id}});"><span class="fa fa-caret-down fa-4x"></span></a>
			<br />
		{{/if}}
		{{#if channelActivity}}
			Channel control:<br />
			<a href="javascript:void(0)" onclick="api.channelUpActivity({{id}});"><span class="fa fa-caret-up fa-4x"></span></a>
			<a href="javascript:void(0)" onclick="api.channelDownActivity({{id}});"><span class="fa fa-caret-down fa-4x"></span></a>
			<br />
		{{/if}}
		{{#if playActivity}}
			Playback control:<br />
			<a href="javascript:void(0)" onclick="api.rewindActivity({{id}});"><span class="fa fa-backward fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.playActivity({{id}});"><span class="fa fa-play fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.pauseActivity({{id}});"><span class="fa fa-pause fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.stopActivity({{id}});"><span class="fa fa-stop fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.fastForwardActivity({{id}});"><span class="fa fa-forward fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if skipActivity}}
			Track control:<br />
			<a href="javascript:void(0)" onclick="api.skipPreviousActivity({{id}});"><span class="fa fa-step-backward fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.skipNextActivity({{id}});"><span class="fa fa-step-forward fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if recordActivity}}
			Record control:<br />
			<a href="javascript:void(0)" onclick="api.recordActivity({{id}});"><span style="color: red;" class="fa fa-circle fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if menuActivity}}
			Menu control:<br />
			<a href="javascript:void(0)" onclick="api.menuToggleActivity({{id}});"><span class="fa fa-bars fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuSelectActivity({{id}});"><span class="fa fa-sign-in fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuBackActivity({{id}});"><span class="fa fa-undo fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuUpActivity({{id}});"><span class="fa fa-arrow-up fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuDownActivity({{id}});"><span class="fa fa-arrow-down fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuLeftActivity({{id}});"><span class="fa fa-arrow-left fa-2x"></span></a>
			<a href="javascript:void(0)" onclick="api.menuRightActivity({{id}});"><span class="fa fa-arrow-right fa-2x"></span></a>
			<br />
		{{/if}}
		{{#if mouseActivity}}
			Mouse control:<br />
			<!-- A 'parent' div for the touchpad images to use as anchor for absolute positioning. -->
			<!-- Relative positioning seems to break the center alignment, so bring it back with some CSS trickery. -->
			<div style="position: relative; left: 50%; margin-left: -126px;">
				<div style="position: absolute; top: 0px; left: 0px;" id="draw-activity-touch-area-{{id}}"></div>
				<div style="position: absolute; top: 167px; left: 0px;" id="draw-activity-lmb-{{id}}"></div>
				<div style="position: absolute; top: 167px; left: 130px;" id="draw-activity-rmb-{{id}}"></div>
			</div>
			<!-- TODO: Probably a nicer CSS trick exists for creating extra newlines / whitespace. -->
			<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			<input style="position: relative; z-index: 1;" type="button" value="  UP  " onClick="api.scrollMouseUp(10);" /><br />
			<input style="position: relative; z-index: 1;" type="button" value="DOWN" onClick="api.scrollMouseDown(10);" />
			<br /><br /><br />
		{{/if}}
		{{#if keyboardActivity}}
			Keyboard control:<br />
			Type text: <input id="type-activity-{{id}}" type="text" size="10" /><br />
			Special keys:
			<input type="button" value="Enter" onClick="api.pressSpecialKey('enter');" />
			<input type="button" value="Backspace" onClick="api.pressSpecialKey('backspace');" />
			<input type="button" value="Delete" onClick="api.pressSpecialKey('delete');" />
			<input type="button" value="Home" onClick="api.pressSpecialKey('home');" />
			<input type="button" value="End" onClick="api.pressSpecialKey('end');" />
		{{/if}}
	</div>
{{/with}}