{{#each lights}}
	{{name}}<br />
	<a href="javascript:void(0)" onclick="require(['pyh'], function (pyh) { pyh.toggleLight({{id}}, {{on}}); });"><div id="canvas-lights"></div></a>
<!-- 	<img
		{{#unless on}}
			style="-webkit-filter: grayscale(100%); filter: grayscale(100%);"
		{{/unless}}
		src="img/hue-full-color-bulb.png" width="128" height="128" /></a><br />
</div>
 -->
{{/each}}

<script type="text/javascript">
	// TODO: consider using alternatives to bHive, like paper.js
	//TODO: remove bHive completely
	$("#content").css("background-color", "#CCCCCC");

	require(['bHive'], function (bHive) {
		var engine = new bHive({
			width: 128,
			height: 222,
			domobject: 'canvas-lights'
		});
		
		var light = engine.createBitmap({
			src: 'img/hue-full-color-bulb-small.png',
			x: 0,
			y: 0
		});
		
		var radial_gradient = engine.createGradient({
			type: 'radial',
			colors: ['red','white'],
			stops: [0, 1]
		});
		
		var filledcircle = engine.createShape({
			shape: 'square',
			style: 'filled',
			backgroundColor: radial_gradient,
			height: 70,
			width: 128,
			x: 0,
			y: 0
		});

//		light.addEventListener('onload', function() {
	// TODO: use light onload to wait for loading? / or pre-load if that has no delay afterwards
			//light.draw();
/*
			var ctx = engine.stage2d;
		    ctx.save();
		    ctx.globalAlpha = 0.5;
			filledcircle.draw();
		    ctx.restore()
*/
//		});


		light.addEventListener('onload', function() {

		var areaWidth = 128;
		var areaHeight = 65;

		var grd=engine.stage2d.createRadialGradient(areaWidth / 2, areaHeight / 2, 0, areaWidth / 2, areaHeight / 2, 64);
		grd.addColorStop(0,"red");
		grd.addColorStop(1,"#CCCCCC");
		
		engine.stage2d.beginPath();
		engine.stage2d.fillStyle = grd;//"#FF0000";
		engine.stage2d.arc(areaWidth / 2, areaHeight / 2, 64, 0, 2 * Math.PI);
		engine.stage2d.fill();

		light.draw();
		
		var imgData = engine.stage2d.getImageData(0, 0, areaWidth, areaHeight);

		function pyth(a, b) {
			return Math.sqrt(a * a + b * b);
		}
		
		function componentToHex(c) {
		    var hex = c.toString(16);
		    return hex.length == 1 ? "0" + hex : hex;
		}

		function rgbToHex(r, g, b) {
		    return "#" + componentToHex(r) + componentToHex(g) + componentToHex(b);
		}
	
		//TODO: take possible leading '#' into account.
		function hexToRgb(hex) {
		    var bigint = parseInt(hex, 16);
		    var r = (bigint >> 16) & 255;
		    var g = (bigint >> 8) & 255;
		    var b = bigint & 255;

		    return [r, g, b];
		}
		
		var centerX = areaWidth / 2;
		var centerY = areaHeight / 2;

		//TODO: consider not using sqrt, but plain x and y distance for speed
		//TODO: max distance is depending on angle of pixel.
		var maxDistance = centerX;
		
		var id = engine.stage2d.createImageData(1, 1); // only do this once per page
		var d  = id.data;                        // only do this once per page
		
		function percentage(input) {
			return input * input;
		}
		
		for (var y = 0; y < areaHeight; y++) {
			for (var x = 0; x < areaWidth; x++) {
				//TODO: Use sep values for x and y
				var distance = pyth(x - centerX, y - centerY);
				if (imgData.data[(y * areaWidth + x) * 4 + 0] == 0
						&& imgData.data[(y * areaWidth + x) * 4 + 1] == 0
						&& imgData.data[(y * areaWidth + x) * 4 + 2] == 0) {
					// background color, do nothing.
				} else {
					engine.stage2d.globalAlpha = 1 - percentage(distance / maxDistance);
					engine.stage2d.fillStyle = rgbToHex(255, 0, 0);
					//engine.stage2d.fillRect(x, y, 1, 1);
				}
			}
		}

/*
 * The image data way:
	d[0]   = 255;
	d[1]   = 0;//255 * (distance / maxDistance);
	d[2]   = 0;//255 * (distance / maxDistance);
	d[3]   = 0;//255;//255 - 255 * (distance / maxDistance);
	//engine.stage2d.putImageData(id, x, y);
	 
 */
		
		});


		
		// If you need direct canvas stage2d control, use this:
		/*var ctx = engine.stage2d;//draw image with plain canvas
		
		var img = new Image();
		img.onload = function() {
		    ctx.save();
		    ctx.globalAlpha = 0.4;
		    ctx.drawImage(img, 0, 0);
		    ctx.restore()
		};
		img.src = "img/hue-full-color-bulb-small.png";
		*/
	});
</script> 