{{#each lights}}
	{{name}}<br />
	<a href="javascript:void(0)" onclick="require(['pyh'], function (pyh) { pyh.toggleLight({{id}}, {{on}}); });"><div id="draw-lights"></div></a>
{{/each}}

<script type="text/javascript">
	require(['util'], function (util) {		
		$("#content").css("background-color", "#CCCCCC");

		function percentage(input) {
			return input;
		}		

		var lightImage = new Image();
		lightImage.onload = function() {
			// TODO: size depending on image size
			var canvasWidth = 200;
			var canvasHeight = 300;
			
			var areaWidth = lightImage.width;
			var areaHeight = 68;
	
			var middleX = canvasWidth / 2;
			var middleY = canvasHeight / 2;
			
			var canvasElement = document.createElement('canvas');
			canvasElement.width = canvasWidth;
			canvasElement.height = canvasHeight;
			document.getElementById("draw-lights").appendChild(canvasElement);
	
			var context = canvasElement.getContext('2d');
			var imageX = middleX - lightImage.width / 2;
			var imageY = middleY - lightImage.height / 2;
		    
			context.drawImage(lightImage, imageX, imageY);
			
			var imgData = context.getImageData(0, 0, canvasWidth, canvasHeight);
	
			var centerX = imageX + areaWidth / 2;
			var centerY = imageY + areaHeight / 2;
	
	
			var ellipseHorizontalRadius = lightImage.width / 2 + 50;
			var ellipseVerticalRadius = 68 / 2 + 30;
	
			// TODO: more generic coordinates
			// TODO: fix 0, 0
			for (var y = 0; y < canvasHeight; y++) {
				for (var x = 0; x < canvasWidth; x++) {
					// TODO: move stuff to math util functions (in util module)
					var distanceX = Math.abs(x - centerX); // Adjecent / aanliggende
					var distanceY = Math.abs(y - centerY); // Opposite / overliggende
					//TODO: consider not using sqrt, but plain x and y distance for speed
					var distance = util.pythagoras(distanceX, distanceY); // Hypothenuse / schuine
					var circleAngle = Math.asin(distanceY / distance); // sin(hoek) = opposite / hyp
					if (isNaN(circleAngle)) {
						// For a distance of 0, we'll take a very small (dummy) angle. The fraction will be 0 anyway.
						circleAngle = 0.001;
					}
					
					// Calculate the ellipse angle from the circle angle.
					// Special thanks to: http://stackoverflow.com/questions/17762077/how-to-find-the-point-on-ellipse-given-the-angle
					var ellipseAngle = Math.atan((ellipseHorizontalRadius * Math.tan(circleAngle)) / ellipseVerticalRadius);
					
					var maxX = ellipseHorizontalRadius * Math.cos(ellipseAngle);
					var maxY = ellipseVerticalRadius * Math.sin(ellipseAngle);
					var maxDistance = util.pythagoras(maxX, maxY);
					var distanceFraction = percentage(distance / maxDistance);
	
					var isBackgroundColor = imgData.data[(y * canvasWidth + x) * 4 + 0] == 0
							&& imgData.data[(y * canvasWidth + x) * 4 + 1] == 0
							&& imgData.data[(y * canvasWidth + x) * 4 + 2] == 0;
					if ((isBackgroundColor || (!isBackgroundColor && y < imageY + areaHeight)) && distance <= maxDistance) {
						context.globalAlpha = 1 - distanceFraction;
						if (isBackgroundColor) {
							context.globalAlpha = context.globalAlpha * 0.75;
						}
						context.fillStyle = util.rgbToHex(255, 0, 0);
						context.fillRect(x, y, 1, 1);
					} else {
						// On light, do nothing.
					}
				}
			}
			
		};
		// TODO: below, otherwise onload not called? --> use jQuery to load image?
		lightImage.src = "img/hue-full-color-bulb-small.png";
	});
	
</script> 