<div id="settingsForm"></div>
<input id="settings-reset-button" type="button" value="Reset all to default value" /><br />
<input id="reload-app-button" type="button" value="Reload the app" /><br />

<!-- TODO: Move this javascript to a separate file / module (require will preload it for us, right?) -->
<script type="text/javascript">
	require(["jquery", "pyh", "knockout"], function ($, pyh, ko) {
		var $settingsForm = $("#settingsForm");
		var settings = pyh.getSettings();
		
		function SettingsViewModel() {
			Object.keys(settings).forEach(function (settingName) {
				var setting = settings[settingName];
				var settingType = setting.type;
				if (settingType == pyh.SettingType.STRING) {
					$settingsForm.append(setting.displayName + ": <input data-bind='value: " +  settingName + "' /><br />");
				} else if (settingType == pyh.SettingType.BOOLEAN) {
					$settingsForm.append(setting.displayName + ": <input type='checkbox' data-bind='checked: " +  settingName + "' /><br />");
				}
			});

			// A function to (re)create the settings fields.
			// Recreation can be usefull for rebinding after the settings have changed by another source than the user input.
			this.createSettingsFields = function () {
				Object.keys(settings).forEach(function (settingName) {
					var setting = settings[settingName];
				    this[settingName] = ko.observable(setting.value);
					this[settingName].subscribe(function (newValue) {
					    setting.setNewValue(newValue);
					});
				});
			};
		};
		
		// Create one instance of the settings view model.
		var settingsViewModel = new SettingsViewModel();

		function doBind() {
			// Create (or override) the settings fields on the view model object.
			settingsViewModel.createSettingsFields();
			// Unwrap the native DOM element, that is the first element in the jQuery array-like wrapper object.
			var domSettingsForm = $settingsForm[0];
			// Clear any existing bindings in the settings form.
			ko.cleanNode(domSettingsForm);
			// Tell knockout to apply the bindings to the form.
			ko.applyBindings(settingsViewModel, domSettingsForm);
		}
		
		// Perform the actual binding.
		doBind();
		
		// When the reset button is clicked, rest all settings and re-bind the form.
		$("#settings-reset-button").click(function() {
			Object.keys(settings).forEach(function (settingName) {
				settings[settingName].resetToDefault();
			});
			doBind();
		});
		
		// When the reload button is clicked, just set the browser url to the current url.
		$("#reload-app-button").click(function() {
			document.location.href = document.location.href;
		});
	});
	
</script>
