<div id="settingsForm">
</div>

<!-- TODO: Move this javascript to a separate file / module (require will preload it for us, right?) -->
<script type="text/javascript">
	require(["jquery", "pyh", "knockout"], function ($, pyh, ko) {
		var $settingsForm = $("#settingsForm");
		var settings = pyh.getSettings();
		function SettingsViewModel() {
			Object.keys(settings).forEach(function (settingName) {
				var setting = settings[settingName];
				var settingType = setting.type;
				if (settingType == pyh.SettingType.STRING) {
					$settingsForm.append(setting.displayName + ": <input data-bind='value: " +  settingName + "' /><br />");
				} else if (settingType == pyh.SettingType.BOOLEAN) {
					$settingsForm.append(setting.displayName + ": <input type='checkbox' data-bind='checked: " +  settingName + "' /><br />");
				}
			    this[settingName] = ko.observable(setting.value);
				this[settingName].subscribe(function (newValue) {
				    setting.setNewValue(newValue);
				});
			});
		};

		// Tell knockout to apply the bindings to the form, giving it the native DOM element,
		// that is the first element in the jQuery array-like wrapper object.
		ko.applyBindings(new SettingsViewModel(), $settingsForm[0]);
	});
	
</script>
