html, body
{
	padding: 0;
	margin: 0;
}
html
{
	height: 100%;
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none;
}
a.button,
span.button,
select,
input[type="text"]
{
	box-sizing: border-box;
	border-radius: 5px;
	text-transform: none;
	text-indent: 0;
	font-weight: bold;
	vertical-align: middle;
	line-height: 20px;
	display: block;
	height: 40px;
	width: 100%;
	padding: 10px;
}
a.button,
span.button
{
	background: #4BD963;
	color: #fff !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
select,
input[type="text"]
{
	background: #fff;
	border: 1px solid #ccc;
}
.mm-divider.button
{
	text-indent: 0 !important;
	padding: 20px 20px 40px 20px !important;
}

nav:not(.mm-menu)
{
	display: none;
}

.header,
.content,
.footer
{
	text-align: center;
}
.header,
.footer
{
	background: #777;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	width: 100%;
	height: 40px;
	padding: 0 50px;
}
.header.mm-fixed
{
	position: fixed;
	top: 0;
	left: 0;
}
.header a
{
	background: center center no-repeat transparent;
	background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
.content
{
	padding: 10px 10px 10px 10px;
	position: relative;
}

.messages
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.messages div
{
	color: rgba( 0, 0, 0, 0.5 );
	line-height: 18px;
	padding: 10px 20px;
}
.messages .error
{
	background: rgb( 255, 225, 225 );
	border-bottom: 1px solid rgb( 255, 150, 150 );
}
.messages .warn
{
	background: rgb( 255, 255, 200 );
	border-bottom: 1px solid rgb( 200, 200, 150 );
}

.mm-menu .buttonbar-item:after
{
	content: none !important;
	display: none !important;
}